<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel App</title>
  <link rel="stylesheet" href="../styles/style.scss">
</head>
<body>
  <div id="app">
    <header>
      <h1>✈️ Travel Planner</h1>
    </header>
    
    <main>
      <form id="location-form">
        <input type="text" id="location" placeholder="Enter Destination" required />
        <input type="date" id="trip-date" required />
        <button type="submit">Plan My Trip</button>
      </form>
      <div id="trip-info"></div>
    </main>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="../js/app.js"></script>
  <script>
   if ('serviceWorker' in navigator) {
  window.addEventListener('load', () => {
    navigator.serviceWorker.register('/service-worker.js').then((registration) => {
      console.log('Service Worker registered with scope:', registration.scope);
    }).catch((error) => {
      console.log('Service Worker registration failed:', error);
    });
  });
}

  </script>
</body>
</html>
